@import @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid silver;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    line-height: 1rem;
    color: #000;
    letter-spacing: 0.1px;
}

.actionButton {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 0px solid #ccc;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    line-height: 3rem;
    text-align:center;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
}
/*start*/
main {
    position: relative;
    height: 900px;
    background: url(/images/pencils.jpg), no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-weight: bold;
    opacity:0.8;
    color:gold;
}

    main header {
        position: absolute;
        top: 300px;
        left: 200px;
        line-height: 5rem;
    }

        main header div:nth-child(1) {
            font-size: 20px;
        }

        main header div:nth-child(2) {
            font-size: 70px;
            line-height: 4rem;
        }

    main button:hover {
        background: #999;
        cursor: pointer;
    }

.aa {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
}

    .aa h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
    }

    .aa p {
        font-size: 16px;
        color: #555;
        line-height: 1.6;
        margin-bottom: 20px; /* Added margin-bottom for paragraphs */
    }

    .aa a {
        display: inline-block;
        font-size: 16px;
        color: #fff;
        background-color: #007bff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        .aa a:hover {
            background-color: #0056b3;
        }



.bb {
    width: 100%;
    background: #F6C007;
    height: 200px;
}

    .bb div {
        width: 1000px;
        margin: 0 auto;
        padding: 90px 0;
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
        color: darkblue;
    }

div h2 {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

.cc {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

    .cc img {
        width: 310px;
        height: 200px;
    }

    .cc section {
        width: 1000px;
        background: #F6C007;
        margin: 10px;
    }

    .cc h3 {
        padding: 15px;
    }

    .cc p {
        color: #fff;
        padding: 15px;
    }

.dd {
    width: 1000px;
    margin: 0 auto;
}

    .dd img {
        width: 230px;
        margin: 10px;
        cursor: pointer;
    }

        .dd img:hover {
            filter: grayscale(100%);
        }

    .dd section {
        display: flex;
    }

.ee {
    background: #F6C007;
    width: 100%;
    height: 310px;
}

    .ee div {
        width: 1000px;
        line-height: 5rem;
        margin: 0 auto;
        text-align: center;
    }

    .ee p {
        color: #fff;
    }

    .ee div:nth-child(2) {
        font-size: 2.2rem;
        font-weight: bold;
        color: #fff;
    }

    .ee button {
        margin: 0 auto;
        text-align: center;
    }

        .ee button:hover {
            background: #999;
            cursor: pointer;
        }

.ff {
    width: 1000px;
    margin: 0 auto;
    padding: 150px 0;
}

    .ff div {
        display: flex;
    }

    .ff h3 {
        position: relative;
    }

.hh {
    color: #F6C007;
    z-index: -1;
    font-size: 4em;
    font-weight: bold;
    position: absolute;
}

.why-section{
    margin: 20px;
}

.contact-us{
    text-align:center;
}

#footer {
    text-align: center;
    background: gold;
    padding: 10px 0;
    color: darkblue;
    font-weight: 700;
}



/* -------- Service SECTION ----------- */
.services-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.service {
    text-align: center;
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    position: relative;
}

    .service h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

.service-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

    .service:hover .service-description {
        opacity: 1;
    }





.container {
    
    padding: 20px; /* Optional: Add padding inside the container */
}



/*  SPLIT VISION  */
.split-vision {
    overflow: hidden;
}

    .split-vision .column .content {
        max-width: 540px;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        z-index: 2;
    }

@media all and (min-width: 800px) {
    .split-vision {
        display: flex;
        align-items: center;
    }

        .split-vision .column {
            width: 50%;
        }

            .split-vision .column .content {
                padding-right: 1em;
                padding-left: 20%;
                margin-right: -10%;
            }
}

@media all and (min-width: 960px) {
    .split-vision .column .content {
        margin-right: 0;
    }

    .split-vision.reverse .column .content {
        margin-left: 0;
    }
}


/*  PROCESS  */
.process {
    width: 100%;
    max-width: none;
}

    .process .discover,
    .process .design,
    .process .implement,
    .process .develop,
    .process .deliver {
        opacity: 0.8;
        transform: scaleY(0);
        transform-origin: 50% 100%;
        transition: opacity 0.25s;
    }

    .process.js-animate .discover,
    .process.js-animate .design,
    .process.js-animate .implement,
    .process.js-animate .develop,
    .process.js-animate .deliver {
        animation: grow-up 1s forwards;
    }

    .process.js-animate .discover {
        animation-delay: 0.25s;
    }

    .process.js-animate .design {
        animation-delay: 0.5s;
    }

    .process.js-animate .implement {
        animation-delay: 0.75s;
    }

    .process.js-animate .develop {
        animation-delay: 1s;
    }

    .process.js-animate .deliver {
        animation-delay: 1.25s;
    }

@keyframes grow-up {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(1.1);
    }

    80%, 100% {
        transform: scaleY(1);
    }
}

.process-details {
    max-width: 1440px;
    padding: 2em;
    margin-right: auto;
    margin-left: auto;
}

    .process-details .discover,
    .process-details .design,
    .process-details .implement,
    .process-details .develop,
    .process-details .deliver {
        max-width: 480px;
        padding: 1em 0;
        margin-right: auto;
        margin-left: auto;
        transition: opacity 0.25s;
    }

        .process-details .discover .heading,
        .process-details .design .heading,
        .process-details .implement .heading,
        .process-details .develop .heading,
        .process-details .deliver .heading {
            font-weight: 700;
        }

            .process-details .discover .heading::after,
            .process-details .design .heading::after,
            .process-details .implement .heading::after,
            .process-details .develop .heading::after,
            .process-details .deliver .heading::after {
                width: 40px;
                height: 4px;
                margin-top: 0.25em;
                display: block;
                content: '';
            }

            .process-details .discover .heading::after {
                background: #50b1aa;
            }

            .process-details .design .heading::after {
                background: #f57a73;
            }

            .process-details .implement .heading::after {
                background: #ffb566;
            }

            .process-details .develop .heading::after {
                background: #43c0e6;
            }

            .process-details .deliver .heading::after {
                background: #60666a;
            }

@media all and (min-width: 800px) {
    .process-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        .process-details .discover,
        .process-details .design,
        .process-details .implement,
        .process-details .develop,
        .process-details .deliver {
            width: 50%;
            padding-right: 1em;
            padding-left: 1em;
        }

        .process-details .discover {
            order: 1;
        }

        .process-details .design {
            margin-right: 0;
            order: 4;
        }

        .process-details .implement {
            order: 2;
        }

        .process-details .develop {
            margin-left: 0;
            order: 5;
        }

        .process-details .deliver {
            order: 3;
        }
}

@media all and (min-width: 800px) {
    .process-details .discover,
    .process-details .design,
    .process-details .implement,
    .process-details .develop,
    .process-details .deliver {
        width: 33.3334%;
    }
}

@media all and (min-width: 1280px) {
    .process-details .discover,
    .process-details .design,
    .process-details .implement,
    .process-details .develop,
    .process-details .deliver {
        padding-right: 2em;
        padding-left: 2em;
    }
}





/* CSS for contact us section */



@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);





/* Animation webkit */
@-webkit-keyframes myfirst {
    0% {
        margin-left: -235px
    }

    90% {
        margin-left: 100%;
    }

    100% {
        margin-left: 100%;
    }
}

/* Animation */
@keyframes myfirst {
    0% {
        margin-left: -235px
    }

    70% {
        margin-left: 100%;
    }

    100% {
        margin-left: 100%;
    }
}

.fish {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
    width: 235px;
    height: 104px;
    margin-left: -235px;
    position: absolute;
    animation: myfirst 24s;
    -webkit-animation: myfirst 24s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

#fish {
    top: 120px;
}

#fish2 {
    top: 260px;
    animation-delay: 12s;
    -webkit-animation-delay: 12s;
}

/*
header {
    height: 160px;
    background: url('http://www.geertjanhendriks.nl/codepen/form/golf.png') repeat-x bottom;
}*/

#form {
    height: 100%;
    background-color: #98d4f3;
    overflow: hidden;
    position: relative;
}

form {
    margin: 0 auto;
    width: 500px;
    padding-top: 40px;
    color: white;
    position: relative;
}

label, input, textarea {
    display: block;
}

input, textarea {
    width: 500px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-family: 'Sniglet', cursive;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #98d4f3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    input:focus, textarea:focus {
        border: solid 3px #77bde0;
    }

textarea {
    height: 100px;
    resize: none;
    overflow: auto;
}

input[type="submit"] {
    background-color: #F90;
    color: white;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.29em;
    font-family: 'Sniglet', cursive;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

    input[type="submit"]:hover {
        background-color: #e58f0e;
    }

label {
    font-size: 1.5em;
    margin-top: 20px;
    padding-left: 20px;
}

.formgroup, .formgroup-active, .formgroup-error {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 10.5%;
    transition: background-image 0.7s;
    -webkit-transition: background-image 0.7s;
    -moz-transition: background-image 0.7s;
    -o-transition: background-image 0.7s;
    width: 566px;
    padding-top: 2px;
}

.formgroup {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');
}

.formgroup-active {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}

.formgroup-error {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
    color: red;
}